/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/09/2017, 03:40:35 PM
    Author     : user
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

$color:#fff;
.contenedor{
    position: relative;
    top:150px;
    margin: auto;
    width:420px;
    height: 240px;
    background-image:url(img/download.jpj);
    background-size: 100% 100%;
    overflow: hidden;
    color:$color;
    
    
}

h2{
    margin: 20px;
}